@import "../style/mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@400;500;700&display=swap");

$fontFamily: "Montserrat";

html {
  overflow-x: hidden;
  p {
    font-family: $fontFamily;
    color: white;
  }
  a {
    font-family: $fontFamily;
    color: white;
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: $fontFamily;
    li {
      font-family: $fontFamily;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fontFamily;
    color: white;
  }
  button {
    font-family: $fontFamily;
    color: white;
  }
}

.main {
  background-color: #000000;
  .header {
    position: absolute;
    margin-top: 30px;
    width: 100%;
    .container {
      .header__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .logo__wrapper {
          display: flex;
          flex-direction: row;
          align-items: center;
          .logo__image {
            width: 100%;
          }
          .logo__text {
            color: white;
            text-decoration: none;
            font-family: "Montserrat";
            font-weight: bold;
            margin-left: 15px;
          }
        }
        .nav {
          .menu-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0px 24px;
            @include breakpoint(md) {
              gap: 0px 13px;
              font-size: 13px;
            }
            @include breakpoint(sm) {
              display: none;
            }
            .list-item {
              color: white;
              cursor: pointer;
            }
            .list-button {
              color: white;
              width: 118px;
              height: 40px;
              background: rgba(19, 19, 19, 0.4);
              backdrop-filter: blur(5px);
              border-radius: 20px;
              border-color: rgba(81, 40, 136, 0.4) rgba(255, 255, 255, 0)
                rgba(245, 58, 238, 0.4) rgba(0, 0, 0, 0);
              @include breakpoint(md) {
                width: 82px;
                height: 30px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/img/bg-image.png);
    padding-top: 300px;
    padding-bottom: 300px;
    @include breakpoint(sm){
        padding-top: 145px;
        padding-bottom: 0px;
    }
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .hero__title {
        width: 100%;
      }
      .hero__subtitle {
        text-align: center;
        width: 44%;
        margin-top: 30px;
        @include breakpoint(md) {
          width: 70%;
          font-size: 12px;
        }
      }
      .hero__button {
        width: 233px;
        height: 52px;
        background: rgba(240, 240, 240, 0.1);
        backdrop-filter: blur(5px);
        border-radius: 100px;
        border: 1px solid rgba(128, 128, 128, 0.429);
        color: white;
        cursor: pointer;
        @include breakpoint(sm) {
          width: 175px;
          height: 45px;
          font-size: 13px;
        }
      }
    }
  }

  .about {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      position: relative;
      .circle {
        margin-left: 1120px;
        position: absolute;
      }
      .title {
        .title-img {
          @include breakpoint(lg) {
            width: 100%;
          }
        }
      }

      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        @include breakpoint(lg) {
          flex-direction: column;
        }
        .content__img {
          width: 50%;
          @include breakpoint(lg) {
            width: 35%;
          }
        }
        .content__text {
          width: 40%;
          @include breakpoint(lg) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
          }
          .content__title {
            @include breakpoint(lg) {
              text-align: center;
            }
            @include breakpoint(md) {
              font-size: 14px;
              width: 70%;
            }
          }
          .content__button {
            margin-top: 40px;
            width: 202px;
            height: 56px;
            background: rgba(240, 240, 240, 0.1);
            backdrop-filter: blur(5px);
            border-radius: 100px;
            color: white;
            border: 1px solid rgba(245, 58, 238, 0.4);
            cursor: pointer;
            @include breakpoint(sm) {
              width: 175px;
              height: 45px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .promo {
    height: 100%;
    margin-top: 150px;
    .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: linear-gradient(
        302.24deg,
        rgba(240, 240, 240, 0.08) 0%,
        rgba(240, 240, 240, 0) 100%
      );
      filter: drop-shadow(0px 8px 20px rgba(255, 255, 255, 0.05));
      border-radius: 40px;
      border: 1px solid rgba(240, 240, 240, 1);
      @include breakpoint(lg) {
        flex-direction: column;
      }
      @include breakpoint(xs) {
        width: 60%;
        border-radius: 25px;
      }
     
      .promo__part {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 100px;
        @include breakpoint(lg) {
          flex-direction: row;
          align-items: center;
          width: 70%;
          margin-right: 0px;
          margin-top: 75px;
          margin-left: 150px;
        }
        @include breakpoint(md) {
          margin-left: 0px;
        }
        .promo__part-count {
          width: 10%;
          @include breakpoint(lg) {
            width: 5%;
          }
          @include breakpoint(xs) {
            width: 25%;
          }
        }
        .promo__part-title {
          width: 45%;
          font-size: 17px;
          @include breakpoint(lg) {
            width: 100%;
            margin-left: 50px;
          }
        }
      }
      .promo__img {
        padding-top: 150px;
        padding-bottom: 150px;
        @include breakpoint(sm) {
          width: 50%;
        }
      }
      .promo__title {
        margin-left: 100px;
        @include breakpoint(lg) {
          margin-left: 0px;
          margin-bottom: 70px;
        }
        .promo__title-br {
          @include breakpoint(lg) {
            display: none;
          }
        }
      }
    }
  }
  .advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 275px;
    overflow-x:hidden;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .advice__title{
        width: 85%;
      }
      .block {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0px 40px;
        margin-top: 75px;
        @include breakpoint(lg){
            flex-direction: column
        }
        .block__think-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @include breakpoint(lg){
                margin-top: 100px;
            }
            .block__circle{
                position: absolute;
                z-index: 2;
            }
          .block__think {
            display: flex;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            width: 85%;
            height: 455px;
            background: rgba(51, 51, 51, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid gray;
            @include breakpoint(elg){
                margin-top:65px;
            }
            @include breakpoint(lg){
                width: 60%;
            }
            @include breakpoint(sm){
                width: 100%;
            }
            .block__title {
              font-weight: 700;
              font-size: 32px;
              text-align:center;
              @include breakpoint(elg){
                font-size:22px;
              }
              @include breakpoint(sm){
                font-size: 18px;
              }
            }
            .block__subtitle {
              text-align: center;
              font-size: 16px;
              padding: 60px;
              @include breakpoint(xs){
                    font-size: 14px;
                    padding: 7px;

              }
            }
          }
        }
        .block__find-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @include breakpoint(lg){
                margin-top: 100px;
            }
            .block__circle{
                position: absolute;
                z-index: 2;
            }
          .block__find {
            display: flex;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            width: 90%;
            height: 534px;
            background: rgba(51, 51, 51, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid gray;
            @include breakpoint(elg){
                margin-top:65px;
            }
            @include breakpoint(lg){
                width: 60%;
            }
            @include breakpoint(sm){
                width: 100%;
            }
            .block__title {
              font-weight: 700;
              font-size: 32px;
              text-align:center;
              @include breakpoint(elg){
                font-size:22px;
              }
              @include breakpoint(sm){
                font-size: 18px;
              }
            }
            .block__subtitle {
              text-align: center;
              font-size: 16px;
              padding: 60px;
              @include breakpoint(xs){
                    font-size: 14px;
                    padding: 7px;

              }
            }
          }
        }
        .block__future-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            @include breakpoint(lg){
                margin-top: 100px;
            }
            .block__circle{
                position: absolute;
                z-index: 2;
            }
          .block__future {
            display: flex;
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
            width: 85%;
            height: 455px;
            background: rgba(51, 51, 51, 0.2);
            backdrop-filter: blur(10px);
            border-radius: 20px;
            border:1px solid gray;
            @include breakpoint(elg){
                margin-top:65px;
            }
            @include breakpoint(lg){
                width: 60%;
            }
            @include breakpoint(sm){
                width: 100%;
            }
            .block__title {
              font-weight: 700;
              font-size: 32px;
              text-align:center;
              @include breakpoint(elg){
                font-size:22px;
              }
              @include breakpoint(sm){
                font-size: 18px;
              }
            }
            .block__subtitle {
              text-align: center;
              font-size: 16px;
              padding: 60px;
              @include breakpoint(xs){
                    font-size: 14px;
                    padding: 7px;

              }
            }
          }
        }
      }
    }
  }
}
